.editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.editor :global(.cm-editor) {
  height: 100%;
}

.editor :global(.cm-scroller) {
  overflow: auto !important;
  font-family: var(--font-mono);
  font-size: 14px;
}

.editor :global(.cm-content) {
  font-family: var(--font-mono);
  font-size: 14px;
}
